
<nav class="navbar sticky-top navbar-expand-lg bg-secondary">
    <div class="container-fluid">
      <h1 class="navbar-brand"><b>Library App</b></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!-- <a class="nav-link active" routerLink="/books" aria-current="page">Books</a> -->
            <button class="btn btn-outline-info" type="submit" (click)="bookUser()">Books</button>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" rou>Add Book</a> -->
            <button class="btn btn-outline-info" type="submit" (click)="addUser()">Add Book</button>
          </li>
          
         
        </ul>
        <form class="d-flex" role="search">
          
          <button class="btn btn-outline-info" type="submit" (click)="logoutUser()">LogOut</button>
        </form>
      </div>
    </div>
  </nav>